.footer {
    display: flex;
    flex: 1;

}

footer {
    text-align: center;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.footer-links{
    display: grid;
    grid-auto-flow: column;
 
    width: fit-content;
}

@media (max-width: 1000px) {
    .footer-links {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto auto auto auto;
        grid-auto-flow: row; 
    }
}

@media (max-width: 600px) {
    .footer-links {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: auto auto auto;
        grid-auto-flow: row; 
    }
}

@media (max-width: 400px) {
    .footer-links {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: auto auto;
        grid-auto-flow: row; 
    }
}

.footer-modals{
    display: grid;
    grid-auto-flow: column;
    user-select: none;
    justify-content: end;
    width: 100%;
    gap: 0.5rem/* 8px */;
}

@media (max-width: 600px) {
    .footer-modals {
        gap: 0;
        grid-template-rows:  1fr 1fr ;
        grid-template-columns:  auto ;
        grid-auto-flow: row; 
    }
}



.footer-links a {
    display: flex;
    flex-direction: row;
    gap: 0.25rem/* 4px */;
    align-items: center;
    padding: 0.25em 0.5em; /* 4px 8px */
}

.footer-icon-text {
    color: var(--color-iconstext);
    font-size: .65rem;
    transition: all 300ms linear;
}




.group:hover .footer-icon-text, .group:hover .icons-footer {
    fill: var(--color-iconstext-hover);
    color: var(--color-secondary);
}

#guide {
    margin-bottom: 20px;
    user-select: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.guide-text {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    gap: 0.75rem/* 12px */;
    font-size: 12px;
    color: var(--color-iconstext);
    margin-top: 2.5rem/* 40px */;
}

.under{
    margin-top: 0.2rem/* 8px */;
}


.guide-key {
    background-color: var(--color-iconstext);
    border-radius: 0.125rem/* 2px */;
    padding-left: 0.25rem/* 4px */;
    padding-right: 0.25rem/* 4px */;
    letter-spacing: 1.3px;
    font-size: 10px;
}

.guide-key p{
    color: var(--color-primary);
}

.mute-btn-container {
    display: flex;
    justify-content: center;
}

.volume-button {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 0.25rem/* 4px */;
    
}

.volume-button-text {
    color: var(--color-iconstext);
    transition: all 300ms linear;
}

.volume-button:hover .volume, .volume-button:hover .volume-button-text{
    fill: var(--color-iconstext-hover);
    color: var(--color-secondary);
}





