#app {
    display: grid;
    justify-items: center;
    background-color: var(--color-primary);
    font-family: Menlo, monospace;
}

.grid-layout {
    max-width: 1000px;
    display: grid;
    grid-auto-flow: row;
    min-height: 100vh;
    padding: 2rem;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    align-items: center;
    grid-template-rows: auto 1fr auto;
    width: 100%;
}


/* 
primary: background
*/

:root {
    --color-primary: #333; 
    --color-secondary: #e2b714;
    --color-tertiary: #1f2022;
    --color-iconstext: #646669;
    --color-iconstext-hover: #d1d0c5;
    --color-text: white;
    --color-logo: #d1d0c5;
    --color-selected: #e2b714;;
    --color-error: red;
    --color-randomwords: #4a4c50; 
}

.dark {
    --color-primary: #333; 
    --color-secondary: #e2b714;
    --color-tertiary: #101111;
    --color-iconstext: #646669;
    --color-iconstext-hover: #d1d0c5;

}
  
.light {
    --color-primary: #ddd;
    --color-secondary: #333;
    --color-tertiary: #aaa7a7;
    --color-iconstext: #4d4d4d;
    --color-iconstext-hover: black;

}

.vscode {
    --color-primary: #333;
    --color-secondary: #007acc;
    --color-tertiary: #2c2e31;
    --color-iconstext: #646669;
    --color-iconstext-hover: #ddd;

}
  
.trance {
    --color-primary: #00021b;
    --color-secondary: #e51376;
    --color-tertiary: #18214c;
    --color-iconstext: #637199;
    --color-iconstext-hover: white;
}
  
.eva-04 {
    --color-primary: #6d45a1;
    --color-secondary: #501a97;
    --color-tertiary: #226126;
    --color-iconstext: white;
    --color-iconstext-hover: #73d378;

}
  
  
  /* 
    --color-primary: background
    --color-secondary: timer y results
    --color-tertiary: subheader
    --color-iconstext: #55c35b;
    --color-iconstext-hover: #55c35b;
    --color-text: color del texto que se escribe
    --color-logo: color del logo Typemonkey
    --color-selected: botones seleccionados y teclado arriba
    --color-error: error al escribir
    --color-randomwords: palabras aleatorias
  */