.results-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-info-section {
    animation: fade 0.5s ease-in-out;
    z-index: 1;
    width: 100%;
    background-color: var(--color-primary);
    
}

.show-results{
    display: flex;
}

.hide-results{
    display: none;
}

.cancel-animations {
    animation: none !important;
}

.results {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 1rem;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "stats chart"
        "morestats morestats";
    
    z-index: 2;
}



.stats{
    grid-area: stats;
    display: flex;
    flex-direction: column;

    > .acc-wpm{
        display: flex;
        flex-direction: column;

        >.acc-wpm-title {
            font-size: 1.875rem/* 30px */;
            line-height: 2.25rem/* 36px */;
            color: var(--color-iconstext);
        }

        > .acc-wpm-value {
            font-size: 3.75rem/* 60px */;
            line-height: 1;
            color: var(--color-secondary);
        }
    }
}

.chart{
    grid-area: chart;
}

.morestats {
    grid-area: morestats;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-between;
    
}

@media (max-width: 750px) {
    .results {
        grid-template-columns: 1fr auto;
        grid-template-areas: 
            "stats"
            "chart"
            "morestats";
    }
}


@media (max-width: 1050px) {
    .morestats {
        /* two rows */
        grid-template-columns: repeat(3, auto);

    }
}

@media (max-width: 750px) {
    .morestats {
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        width: 100%;
    }
}



@media (max-width: 750px) {
    .stats {
        /* two rows */
        flex-direction: row;
        gap: 64px;
        align-items: center;
        justify-content: center;
    }

    .chart {
        width: 90%;
    }
}





.stats-top{
    color: var(--color-iconstext);
}

.stats-bottom{
    color: var(--color-secondary);
    
}

.text-size {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
}

.result-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
   
}

.result-button {
    padding: 1rem 2rem
}


.line-chart-line{
    stroke: var(--color-tertiary);
}


@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}




